/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0 auto;
}


/*******************************/
/* LAYOUT VAN DE NAVIGATIEBALK */
/*******************************/



@media (max-width: 545px) {
  header nav{
    background-color: #f6f6f6;
    position: fixed;
    top:0 ;
    width: 100%;
    height: 3em;
    text-align: center;
  }

  header li a{
    display: none;
  }

  .hide {
    display: none;
  }

  .showMenu {
    background-color: #f6f6f6;
    position: fixed;
    top:0 ;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .showMenu li a{
    display: block;
    color: #0065bb;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1em;
  }

  .showMenu header nav>a:last-of-type {
    display: block;
  }

  header ul {
    margin-top: 45%;
    padding-left: 0;
  }

  header>nav>a:first-of-type{
    position: absolute;
    padding: 0.4em;
    top: 0;
    right: 0;
    width: 4em;
  }

  header>nav>a:nth-child(2){
    position: absolute;
    padding: 0.4em;
    top: 0;
    left: 0;
    width: 4em;
  }
  header>nav>a:focus {
    background: none;
  }

  header a img {
    width: 2em;
  }
}

@media (min-width: 545px) {

  header nav {
    display: flex;
    max-width: 95%;
    margin: 1em auto;
  }

  header nav ul {
    display: flex; /* Zet de navigatie elementen naast elkaar */
    margin: auto; /* Zorgt ervoor dat er ruimte om deze elementen komt, waardoor de gele button naar rechts verschuift */
  }
  
  header nav li {
    position: relative; 
    font-size: 1em;
    font-weight: 500;
  }

  header nav img {
    display: none;
  }
}
/*****************/
/* ALGEMENE TEXT */
/*****************/

h2 {
  font-size: 2em;
  font-weight: 900;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  padding: 2rem;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 1.3em;
  font-weight: 700;
  padding: .5rem; /* Gebruik hier rem i.p.v. em. https://css-tricks.com/confused-rem-em/. Rem is overal hetzelfde, em niet. Waardoor de namen van de teamleden niet goed aligned waren */

}

h5 {
  font-size: 1em;
  font-weight: 300;
  padding: 0.1rem;
  text-transform: uppercase;

}

p {
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 300;
  Padding: 1rem;
  }

a {
    font-size: 18px;
    font-weight: 300;
    padding: 1em;
}

li {
  list-style: none;
}

/**********************/
/* LAYOUT VAN BUTTONS */
/**********************/
header nav>a:last-of-type{
  background-color: #ffb413;
  padding: 0.7em;
  border-radius: .5em;
  border: none;
  box-shadow: .09em .09em .08em #161616;
  width: 10em;

  color: #000000;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: #ffb413;
  padding: 1.1em;
  border-radius: .5em;
  border: none;
  padding: 1em;
  box-shadow: .09em .09em .08em #161616;
  width: 12em;

  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


@keyframes buttons {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.05);
    background: #ffb413;
    color: #000000;
  }
}
button:hover { 
  animation-name:buttons;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
/******************/
/*Toegankelijkheid*/
/******************/

a:hover {
  font-weight: 900;
}

a:focus {
  background-color: #f6f6f6;
  text-decoration: underline;
}

a:visited {
  color: #ffb413;
}

a:active {
  color: crimson;
  text-decoration: underline;
}
/********************/
/* LANDINGS SECTION */
/********************/

.html section:nth-child(1) {
  background-image: url("../images/IndeBallon.png");
  background-size: cover;
  height: 80vh;
  width: 100%; 
  padding-left: 20px; 
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
.html section:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.html h2:first-of-type {
  color: #ffffff;
  font-size: 3em;
  margin: 1em 0.7em;
  margin-top: 40%;
  text-shadow: .009em .009em .08em #161616;
}

button:nth-child(2){
  max-width: 20em;
  margin: 0 2em;
}

section a:first-of-type {
  padding: 2em;
  color: white;
  font-weight: 400;
  text-shadow: .009em .009em .08em #666666;
}

@media (min-width: 545px) {
  .html section:nth-child(1) h2 {
    font-size: 4em;
    margin: 1em 0.5em;
    margin-top: 20%;
  } 
  .html section:nth-child(1) button {
    margin: 0 2em;
  }
  .html section:nth-child(1) > a {
    padding: 1.7em;
  }
}
@media (min-width: 1080px) {
  .html section:nth-child(1) h2 {
    font-size: 4em;
    margin: 1em 3em;
    margin-top: 20%;
  } 
  .html section:nth-child(1) button {
    margin: 0 15em;
  }
  .html section:nth-child(1) > a {
    padding: 1em 11em;
  }
}
/***********************************/
/* ONTDEK + WAT BIEDT KLUP SECTION */
/***********************************/

.html section:nth-child(2),section:nth-child(4) {
  padding-top: 2em;
  padding-bottom: 2em;
}
.html section div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.html article img {
  margin: auto;
  display: flex;
  width: 80%;
}

.html section article {
  Width: 90%;
}

section div article h4,h3,p {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.html button:nth-child(3) {
  display: block; 
  margin: 4em/*Boven en onder 1em*/ auto/*links en rechts evenveel, dus in het midden*/;
}

@media (max-width: 599px) {
  .html article {
    max-width: 80%;
  }
}

/*Boven mobiel*/
@media (min-width: 600px){
  .html article {
    max-width: 200px;
  }

  .html section:nth-child(4) p {
    width: 100%;
    text-align: center;
  }

  .html article img {
    width: 90%
  }
}

@media (min-width: 900px){
  .html section:nth-child(2),section:nth-child(4) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .html article {
    max-width: 250px;
  }
  .html section article {
    width: 100vw;
  }
  .html article img {
    width: 100%
  }
}
@media (min-width: 1150px){
  .html section:nth-child(2),section:nth-child(4) {
    max-width: 70%;
    margin: auto;
  }
  .html article {
    max-width: 300px;
  }
}
  
  @keyframes ontdek {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.07);
      
    }
  }
  .html article:hover { 
    animation-name: ontdek;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
  }

/*****************/
/* QUOTE SECTION */
/*****************/
.html section:nth-child(3) { 
  background-image: url("../images/Ebikes.png");
  background-size: cover;
  height: 30vh;
  background-position: center;
} 

.html section:nth-child(3) p{
    text-align: center;
    color: #ffffff;
    text-shadow: .009em .009em .08em #666666;
    font-size: 1.3em;
    font-weight: 800;
    margin: 1em auto;
    
}

@media (min-width: 415px) {
  .html section:nth-child(3) p{
    padding-top: 3%;
    text-align: center;
    color: #ffffff;
    text-shadow: .009em .009em .08em #666666;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 800;
    width: 80%;
    margin: 1.1em auto;  
  } 
}

@media (min-width: 910px) {
  .html section:nth-child(3) p {
    font-size: 2em;
  }
}
/* -----------------------------*/
/*HIER BEGINT DE OVER ONS PAGINA*/
/*------------------------------*/

/*************************/
/* WIJ ZIJN KLUP SECTION */
/*************************/

.overOns section:nth-child(1) {
  background-image: url('../images/OverOns/Klup-Team-Over-Ons.png');
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.overOns section:nth-child(1) h2 {
  color: #ffffff;
  font-size: 3em;
  padding: 1em;
  margin: auto;
  text-shadow: .009em .009em .08em #161616;
}

@media (min-width: 415px) {
  .overOns section:nth-child(1) h2 {
    font-size: 4em;
    margin: auto 1em;
  } 

  .overOns section:nth-child(1) button  {
    margin: auto 10em;
  }
}
@media (min-width: 1080px) {
  .overOns section:nth-child(1) h2 {
    font-size: 5em;
    padding: 1em;
    margin: auto 2em;
  } 

  .overOns section:nth-child(1) button {
    margin: auto 18em;
  }
}



/***********************/
/* KLUPVERHAAL SECTION */
/***********************/
.overOns section:nth-child(2) {
  padding-top: 2em;
} 

@media (min-width: 415px) {
  .overOns section:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
  } 
}

@media (min-width: 850px) {
  .overOns section:nth-child(2) {
    max-width: 70%;
    margin: 4em auto;
  }
}

@media (min-width: 1080px) {
  .overOns section:nth-child(2) {
    max-width: 70%; 
  }
}
/******************************/
/* MAGAZINE&VERBINDEN SECTION */
/******************************/
.overOns section:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em; padding-bottom: 4em;
}
.overOns section:nth-child(3) article {
  text-align: center;
}
.overOns section:nth-child(3) article h4,p {
  margin: 0.1em auto;
  padding: .5em;
}
.overOns section:nth-child(3) img {
  max-width: 90%;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 415px) {
  .overOns section:nth-child(3) {
    max-width: 90%;
    margin: 2em auto;
  }
  .overOns section:nth-child(3) article {
    margin: 1em auto;

  }
}
@media (min-width: 580px) {
  .overOns section:nth-child(3) {
    display: flex;
    flex-direction: row;
  }

  .overOns section:nth-child(3) article {
    margin: 1em auto;
  }
}

@media (min-width: 1080px) {
  .overOns section:nth-child(3) {
    max-width: 80%;
    margin: 4em auto;
  }
  .overOns section:nth-child(3) article p {
    width: 80%;
  }
}
/*****************/
/* SOCIALE DROOM */
/*****************/

.overOns main div{
  background-color: #ffb413;
  padding: 2em;
}

.overOns div h3 {
  text-align: center;
}

.overOns div button {
  background-color: transparent;
  display: block;
  margin: auto;
  border: .2em solid #000000;
  color: black;
}

@keyframes socialeDroomButton {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.05);
    background: #000000;
    color: #ffffff;
  }
}
#blackButton:hover { 
  animation-name:socialeDroomButton;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
/*********************/
/* TEAMLEDEN SECTION */
/*********************/
.overOns section:nth-child(5) {
  padding-top: 2em; padding-bottom: 3em;
}
.overOns section:nth-child(5) article{
  text-align: center;
  margin: 1em auto;
  width: 90%;
}
.overOns section:nth-child(5) img {
  border-radius: 50%;
  }
.overOns section:nth-child(5) h4,h5 {
  margin: 0
}

@media (min-width: 580px) {
  .overOns section:nth-child(5) {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1080px) {
  .overOns section:nth-child(5) {
    width: 80%;
    padding-top: 4em; padding-bottom: 5em;
  }
  .overOns section:nth-child(5) article p {
    width: 80%;
  }
}

/***********/
/*AANMELDEN*/
/***********/
.aanmelden {
  display:flex;
  background-image: url('../images/Ebikes.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;

  text-align: center;
}

.aanmelden form {
  margin: auto;
  max-width: 80%;
  background-color: RGB(0, 101, 184, 0.8);
  padding: 1em;
  border-radius: .5em;
}

.aanmelden a{
  position: absolute;
}
@media (min-width: 690px) {
  .aanmelden form {
  max-width: 50%;
  }
}

.aanmelden h2, label {
  color: white;
  margin: 0.1em auto;
  max-width: 90%;
}

.aanmelden p {
  color: white; /* moest los, anders wat de footer ook ineens wit*/
}

.aanmelden input {
  border-radius: .5em;
  border-style: none;
  height: 3.5em;
  width: 90%;
  margin: .5em;
  padding: 1em;
}

input[type="password"] { 
  background-image: url('../images/Aanmelden/visibility_off-24px.svg');
  background-repeat: no-repeat;
  background-size: 1.25em auto;
  background-position: 90% center;
}

.aanmelden input:last-of-type {
  width: 50%;
  margin:2em;
  height: 4em;
  background-color: #ffb413;
  font-weight: 700;
}

@media (min-width: 1080px) {
  .aanmelden input {
    width: 60%;
    padding: 1em;
  }
  .aanmelden h2, label{
    width: 60%;
    margin: 0.5em auto;
  }
  .aanmelden p{
    width: 60%;
    margin: 0.5em auto;
  }
}

/* TOEGANKELIJKHEID OP AANMELDEN.HTML */

input:hover {
  background-color: #ffd16d;
}

input:focus {
  background-color: white;
  caret-color: crimson;
}
/******************/
/* FOOTER SECTION */
/******************/

footer {
  background-color: #f6f6f6;
  padding-top: 4em; padding-bottom: 4em;
}

.logo {
  background-image:url("../images/Footer/Klup_Logo_Tekst_Vierkant.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 0 4em;
}

footer div ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

footer div ul:nth-child(1) li p {
  margin: 0 ;
  padding-top: 0.5em;
  padding-left: 1.8em;
}

.html footer button {
  border: none;
}

.overOns footer button {
  background-color: #ffb413;
  border: none;
  margin: 0;
}

footer div ul li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 2rem;
}

footer div ul li img {
  max-width: 7rem;
}

footer div ul li:nth-child(1) a{ 
  font-weight: 600;
  font-size: 20px;
}

footer div ul li a {
  padding: .4em;
}

footer div ul li p {
  text-align: left;

}

footer ul {
  background-color: bebebe;
}

/* Tablet */
@media (min-width: 575px) {
  footer div {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  /* Even wat volgordes veranderen want dat is mooier*/
  footer div ul:nth-child(1) { 
    order: 2;
  }
  footer div ul:nth-child(2) { 
    order: 1;
  }
  footer div ul:nth-child(3) { 
    order: 3;
  }
  footer div ul:nth-child(4) { 
    order: 4;
    grid-column: span 3;
  }

  /* Het blokje met logo en knop centreren*/
  footer div ul li{
    justify-content: flex-start;
    margin-left: 2em;
    max-width: 80%;
    padding: 0;
  }
  footer div ul:nth-child(1) {
    display: flex;
    align-items: center;
  }

  footer div ul:nth-child(1) li{
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }

  footer div ul:nth-child(1) li p {
    margin: 0 ;
    padding-left: 0;
  }

  footer ul:nth-child(4) {
    max-width: 70%;
    display: flex;
    align-items: center;
    margin: auto;
  }
  footer ul:nth-child(4) li {
    margin-left: 0;
  }
}

/* LAPTOP */
@media (min-width: 1080px) {
  footer div{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  footer div ul:nth-child(1) { 
    order: 1;
  }
  footer div ul:nth-child(2) { 
    order: 2;
  }

  footer div ul:nth-child(4) {
    grid-column: auto;
  }
  footer ul:nth-child(4) p {
    width: 100%;
    text-align: left;
  }
  Footer ul:nth-child(4) img {
    margin: 0 2em;
  }
}